@model List<TestioProject.PL.Models.TeacherStatisticViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 style="color:#6310CB;">Statistic</h2>
        </div>
    </div>
    
    <br /><br />

    @if(Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Test Title
                    </th>
                    <th>
                        Users Amount
                    </th>
                    <th>
                        GPA                       
                    </th>
                    <th>
                        Created At                        
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="table-body-area">
            @foreach(var item in Model)
            {
                <tr>
                    <td width="25%">@item.Test.Title</td>
                    <td class="text-center" width="15%">@item.UsersAmount</td>
                    <td class="text-center" width="15%">
                        @item.GPA
                    </td>
                    <td class="text-center" width="15%">
                        @item.Test.CreatedAt
                    </td>
                    <td class="text-center" width="15%">
                        <a class="btn" asp-controller="Profile" asp-action="StatisticMoreDetails" asp-route-testId="@item.Test.testId" style="background-color: #6310CB; color:white;">More Details</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No content exists.</p>
    }

</div>
